<%= form_for @user, :remote => true do |f| %>
	<%= f.text_field :email %>
	<%= f.submit 'Join', :disabled => true, :id => "join_button" %>
<% end %>
<div id="message">
</div>

<script>
$(function() {
	$('#user_email').live('keyup', function() {
		$("#join_button").attr("disabled", !c2conf.is_email(this.value))
	})
})
</script>

<%= link_to "All conferences", conferences_path %>
